/* CSS Document Adapted from Web Page Design by James Koster - http://www.jameskoster.co.uk - */
/* Browser specific (not valid) styles to make preformatted text wrap */		

pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
body {
    height:100%;
	margin:0;
	font-family:Verdana, Arial;
	font-size:.9em;
	color:#555555;
	background-color:#FFFFFF;
	/*text-align:left;*/
}
select{
        font-family:"Courier New", Helvetica;
        font-size:13px;
}
textarea {
	border: 2px solid #284279; 
}

input {
	padding:3px;
    /*border: 1px solid #728c40;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-bottom:2px;
}

input[type=submit] {
	background-color:#94ae62;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	border:1px solid #728c40;
	margin-bottom:2px;
}
input[type=reset] {
	background-color:#94ae62;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	border:1px solid #728c40;
	margin-bottom:2px;
}

a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#2a65ad;
}

ol,ul {

}

li {
	list-style-image:url(../images/backgrounds/li.gif);
	line-height:20px;
	text-align:left;
}

#menu {
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#94AE62;
	margin-bottom:8px;
	color:#FFFFFF;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	background-image:url(../images/backgrounds/menu.jpg);
}
#menu a {
	color:#FFFFFF;
	text-decoration:none;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	
}
#menu a:hover {
	border-bottom:1px solid #ffffff;
	border-left:1px solid #728d40;
	border-right:1px solid #e9ffb7;
	padding-left:9px;
	padding-right:9px;
	color:#000000;
	background-color:#FFFFFF;
	background-image:url(../images/backgrounds/a_hover.jpg);
}

#header {
	width:800px;
	margin:0 auto 0 auto;
	margin-bottom:30px;
}
#header h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:5px;
	color:#736451;
	margin-bottom:10px;
	text-align:left;
}
#header h2 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	text-align:right;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000000;
	border-bottom:1px solid #eeeeee;
}

#content {
	width:800px;
	margin:0 auto 0 auto;
	/*text-align:left;*/
}

#mainbar {
	/*margin-right:30px;
	padding-right:30px;*/
	background-image:url(../images/backgrounds/mainbar.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

#mainbar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	text-transform:uppercase;
	font-weight:normal;
	color:#728c40;
}

#mainbar p {
	padding:0px;
	line-height:20px;
}

#mainbar .monotext {
        font-family:"Courier New", Arial, Helvetica; 
        font-size:13px;
        padding:0px;
        line-height:20px;	
}
#mainbar .articleimg {
	padding:5px;
	border:1px solid #eeeeee;
	margin-bottom:20px;
	margin-right:20px;
}
#mainbar .logoimg{
	width:88px;
	height:31px;
	border-style:none;
}
#nonfooter {
    position: relative;
    min-height: 100%;
}
#footer {
    position: relative;
	width:100%;
	background-color:#b6cf84;
	border-top:1px solid #d8efa6;
	border-bottom:5px solid #94ae62;
	padding-top:5px;
	padding-bottom:5px;
    font-size:9px;
	color:#696969;
}
#footer a {
	color:#006600;
}
#footer a:hover {
	color:#009900;
}

/* generic table template*/

table.helpT
{text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 12px;
color: #404040;
width: 95%;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 12px;
color: #404040; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: center;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 95%;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }

/* yet another table template (good for data presentation) */
table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 95%;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td 
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.acc
{background-color: #FFFF00;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: center;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;}
