<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title> Dynamic cut for hierarchical clustering </title>
<link rel="stylesheet" type="text/css" href="/duplication/css/smoothness/jquery-ui-1.8.1.custom.css" />
<link rel="stylesheet" type="text/css" href="/duplication/css/pgdd.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery","1"); google.load("jqueryui", "1");</script>
<script type="text/javascript" src="/duplication/scripts/jframe.js"></script>
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
try {
var pageTracker = _gat._getTracker("UA-141268-2");
pageTracker._trackPageview();
} catch(err) {}</script> 
</head>
<body>
<a name="top" id="top"></a>
<div id="menu">
</div>		
<div id="header">
<h1> TREECUT: algorithm for extracting significant modules from hierarchical clustering </h1>
<h2> 
Plant Genome Mapping Lab<br />
University of Georgia
</h2>
</div>
<div id="content">
<div id="sidebar">
<a href="http://www.plantgenome.uga.edu/"><img border="0" src="/duplication/images/brackets.jpg" alt="PGML Homepage" class="logo" /></a>
<br /><hr />
Similar softwares<br /><hr />
<a href="http://www.genetics.ucla.edu/labs/horvath/CoexpressionNetwork/BranchCutting/"><img class="logo" border="0" src="http://www.genetics.ucla.edu/labs/horvath/CoexpressionNetwork/BranchCutting/Example-Dendrogram-10.png" width="120" height="60" alt="BranchCutting R Library" /></a>
</div>
<div id="mainbar">
    <%=body%>
    <br /><br /><br />
    <em>Last update: May 01, 2009 Haibao Tang</em>
    <br /><br />
    <button onclick="window.location='/duplication/cut'"> Treecut Homepage </button>
    <br /><br />
</div>
</div>
<div id="footer">
<center> 
    Haibao Tang
    <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
    <a href="http://www.plantgenome.uga.edu/">Plant Genome Mapping Laboratory</a> 
    <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
    <a href="http://www.uga.edu">University of Georgia</a> 
    <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
    &copy; 2006-2010 
</center>
</div>
</body>
</html>
