<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title> Multiple Collinearity Scan - mcscan </title>
<link rel="stylesheet" type="text/css" href="/duplication/css/smoothness/jquery-ui-1.8.1.custom.css" /> 
<link rel="stylesheet" type="text/css" href="/duplication/css/pgdd.css" /> 
<script type="text/javascript" src="http://www.google.com/jsapi"></script> 
<script type="text/javascript">google.load("jquery","1"); google.load("jqueryui", "1");</script> 
<script type="text/javascript" src="/duplication/scripts/jframe.js"></script> 
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-141268-2");
pageTracker._trackPageview();
} catch(err) {}</script> 
</head>
<body>
<a name="top" id="top"></a>
<div id="menu">
</div>		
<div id="header">
<h1> Multiple Collinearity Scan - mcscan </h1>
<h2> 
Plant Genome Mapping Lab<br />
University of Georgia
</h2>
</div>
<div id="content">
<div id="sidebar">
<a href="http://www.plantgenome.uga.edu/"><img border="0" src="/duplication/images/brackets.jpg" alt="PGML Homepage" class="logo" /></a>
<br /><hr />
Similar softwares<br /><hr />
<a href="http://dagchainer.sf.net"><img class="logo" border="0" src="http://dagchainer.sourceforge.net/dagchainer_150dpi.jpg" width="120" height="60" alt="dagchainer" /></a>
<a href="http://bioinformatics.psb.ugent.be/software"><img class="logo" border="0" src="http://bioinformatics.psb.ugent.be/webtools/iadhore/iadhore.png" width="120" height="60" alt="iAdhore" /></a>
</div>
<div id="mainbar">
    <%=body%>
    <br /><br />
    <button onclick="window.location='/duplication/mcscan'"> MCscan Homepage </button>
    <br /><br />
</div>
</div>
<div id="footer">
<center> 
    <b> .:</b> Haibao Tang <b>::</b> Plant Genome Mapping Laboratory <b>::</b> University of Georgia <b>::</b> &copy; 2007-2010 <b>:.</b>
</center>
</div>
</body>
</html>
