<h1>Usage</h1>
<p>
Main utility of Plant Genome Duplication Database (PGDD) is studying homologous genes (that have maintained relative chromosomal positions) in sequenced genomes. We hereby provide <a href="http://www.google.com/search?hl=en&amp;q=chibba+agtec&amp;btnG=Google+Search&amp;aq=f&amp;oq=">links</a> to a few functional studies that have used PGDD as part of their research. Based on <a href="http://www.google.com/analytics/">Google analytics</a>, this site attracts ~600 unique visits per month, and is in steady growth. 
</p>
<p>
PGDD is funded by National Science Foundation (<a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0849896">DBI-0849896</a>).
</p>
<a href="http://www.nsf.gov"><img border="0" src="http://www.nsf.gov/images/head.gif" alt="" /></a>
<h1>Developer's Notes</h1>
<p>
PGDD runs on ubuntu server hosted in <a href="http://www.plantgenome.uga.edu">Plant Genome Mapping Lab</a>, University of Georgia. Datasets are stored in a relational database powered by MySQL. The web interface is written in Python, and is served by the Apache httpd server through <a href="http://www.modpython.org/">mod_python</a>. The server-side scripts (for graphics and queries) are then called by javascript. For further details about this project (and some other related projects), please visit our technical <a href='/duplication/wiki/'>wiki</a> or <a href="/duplication/sandbox/drupal-6.1/">forum</a>.</p>
<h3>Python modules</h3>
<li><a href='http://matplotlib.sourceforge.net/'>matplotlib</a> - matlab style python plotting</li>
<li><a href='http://sourceforge.net/projects/mysql-python'>MySQL for Python</a> - database adapter</li>
<h3>Javascript modules</h3>
<li><a href='http://code.google.com/apis/ajaxlibs/'>Google AJAX Libraries API</a> - host <a href='http://jquery.com'>jQuery</a> Javascript library</li>
<p>
The server support, administrations and module installations are made possible by <font color="green">Barry Marler</font>.</p>
<br /><br />
<table>
<tr>
    <td>
        <a href="http://validator.w3.org/check?uri=referer"><img class="logoimg"
        src="http://www.w3.org/Icons/valid-xhtml10-blue"
        alt="Valid XHTML 1.0 Transitional" /></a></td>
<td><a href="http://www.ubuntu.com/"><img class="logoimg"
        src="http://www.ubuntu.com/themes/ubuntu07/images/ubuntulogo.png" 
        alt="Ubuntu" /></a></td>
<td><a href="http://www.python.org"><img class="logoimg"
	src="http://www.python.org/images/python-logo.gif"
	alt="Python" /></a></td>
<td><a href="http://dev.mysql.com"><img class="logoimg"
	src="http://dev.mysql.com/common/logos/mysql5-100.gif"
	alt="MySQL" /></a></td>
</tr>
</table>
