<script type="text/javascript" src="/duplication/scripts/jblast.js"></script>
<h1>Map your sequences to the genomes</h1>
<p>
The program did BLAST search and visualize the hits, then try to look for regions where proximal (syntenic) hits can be seen. For example, if you have multiple genetic markers in cotton surrounding a locus of interest, the <b>Map-View</b> tool will try to identify the corresponding region in Arabidopsis, etc., facilitating the comparative mapping across different taxa. The database includes the predicted proteins from several plant genome projects listed on the <a href='/duplication'>home page</a>. <font color="red">FASTA format is accepted</font>.
</p>
<button onclick="example('>Os02g0504900\nMLTLVGTRDSFAQSQAQLCAGMQLKAPTRAKYSQGFMPIGESDAYCALIPGLPEDLAKICLALVPRSQFPVMGSVSKRWMSFLESKEFIAVRKEVGKLEEWVYVLTADAGSKGSHWEVLGCSGQKHSPLPPMPGPTKAGFGVVVLDGKLFVIAGYAADHGKECVSDEVYRYDSCLNRWVELSKMNVARCDFACAEVNGMIYVAGGFGPNGDSLSSVEVYDAEQNKWTLIESLRRPRWGCFACSFEGKLYVMGGRSRFTIGNTRFVDVYNPNDNSWGEVKNGCVMVTAHAVLDKKLFCIEWKNQRSLAVFNPADNSWQKVPVPLTGSSSTRFCFGIHDGKLLLFSLDEEPCYKTLMYDPAAPTGSEWFTSELKPPGLCLCSVTIRA*');">Try this sequence</button><br />
<textarea id="seq" rows="8" cols="80"></textarea>
<br />
 <i>E</i>-value cutoff :
<input type="text" size="5" value="1e-10" id="evalue" />
<input type="checkbox" id="filter" checked="checked" /><label for="filter"> Low complexity filter </label>
<br />
<br />
<div id="algo">
    <input type="radio" name="program" id="p1" value="blastp" checked="checked" /><label for="p1">Protein sequences : use BLASTP</label>
    <input type="radio" name="program" id="p2" value="blastx" /><label for="p2">Nucleotide sequences : use BLASTX</label>
</div>
<br />
<button onclick="talktoServer();">Map View</button>
<button onclick="reset();">Reset</button>
<br />
<div class="monotext" id="display"></div>
