<h1>Contact</h1>
<p>
Any feedback will be truly appreciated. Please contact:
</p>
<div class="ui-icon ui-icon-person"></div>
<font color="green">Haibao Tang</font> : bao at uga dot edu
<br />
<div class="ui-icon ui-icon-person"></div>
<font color="green">Xiyin Wang</font> : wang dot xiyin at gmail dot com
<br />
<div class="ui-icon ui-icon-person"></div>
<font color="green">Hui Guo</font> : hguo at uga dot edu 
<br /><br />
<h3>Developer's notes</h3>
<p>
If you request to add a genome (or partial genome) of your interest, please include in your email the complete species name, the URL for accessing contiguous gene models and other genomes that you want to compare structure to. We will add the data once it is processed. We are also periodically checking the progress of major genome projects and will timely update the database (a rather complete list <a href="http://www.arabidopsis.org/portals/genAnnotation/other_genomes/index.jsp">here</a>).
</p>
<h3>Site improvement</h3>
<p>
This site is constantly updated and improved. You can contribute ideas for improvement by sending an email. Here is a list of <a href="http://chibba.agtec.uga.edu/duplication/wiki/index.php/PGDD_development">pending features</a>.
</p>
<br /><br />
<img src="/duplication/images/artwork/pgdd_vivi.jpg" width="396" height="326" alt="" />
<br />
* Designed by Phill and Vivi
<br /><br />

