<script type="text/javascript" src="/duplication/scripts/jdownload.js"></script>
<h1>Batch Downloads</h1>
<p>You can download different datasets for the blocks listed in this database.
</p>
<table><tr>
<td><select size="10" id="sp1">
    <option value="at">A. thaliana (thale cress)</option>
    <option value="cp">C. papaya (papaya) </option>
	<option value="pt">P. trichocarpa (poplar)</option>
    <option value="mt">M. trunculata (barrel medic) *</option>
    <option value="gl">G. max (soybean)</option>
    <option value="vv">V. vinifera (grape)</option>
	<option value="bd">B. distachyon (purple false brome)</option>
	<option value="os">O. sativa (rice)</option>
	<option value="sb">S. bicolor (sorghum)</option>
	<option value="zm">Z. mays (maize)</option>
</select></td>
<td><img src="/duplication/images/icons/versus.gif" alt="" /></td>
<td><select size="10" id="sp2">
    <option value="at">A. thaliana (thale cress)</option>
    <option value="cp">C. papaya (papaya) </option>
	<option value="pt">P. trichocarpa (poplar)</option>
    <option value="mt">M. trunculata (barrel medic) *</option>
    <option value="gl">G. max (soybean)</option>
    <option value="vv">V. vinifera (grape)</option>
	<option value="bd">B. distachyon (purple false brome)</option>
	<option value="os">O. sativa (rice)</option>
	<option value="sb">S. bicolor (sorghum)</option>
	<option value="zm">Z. mays (maize)</option>
</select></td>
</tr></table>
<br />
<table><tr>
<td><button onclick="javascript:talktoServer()">Download</button></td>
<td><button onclick="javascript:window.location='/duplication/index/downloads';">Reset</button></td>
</tr></table>
<div class="monotext" id="display"></div>
<br />
<h3>Developer's notes</h3>
<p>
We use a different naming convention for gene model annotations since the original namings for predicted models are un-informative. Translation to release ID for papaya and grape can be downloaded <a href='/duplication/mcscan/data/ID_conversion.txt'>here</a>. By doing so, we seek to have the gene names more consistent with the <i>Arabidopsis</i> naming scheme.
</p>
<h3>Additional files</h3>
<p>
The DNA sequences, protein sequences and chromosomal locations for predicted gene models can be accessed <a href="/duplication/mcscan/index/results">here</a>.
</p>
