<script type="text/javascript" src="/duplication/scripts/jlocus.js"></script>
<h1>Locus Search</h1>
<p>Obtain a report of related syntenic regions in multiple species by locus identifier<br />You can choose e.g.  
<a href="javascript:example('At1g25460');">At1g25460</a>,
<a href="javascript:example('Os02g0504900');">Os02g0504900</a>,
<a href="javascript:example('Glyma15g05790');">Glyma15g05790</a>, 
<a href="javascript:example('POPTR_0003s11240');">POPTR_0003s11240</a>, 
<a href="javascript:example('Zm2g000039');">Zm2g000039</a> 
</p>
<div class="ui-widget">
    <label for="lc">Locus identifier: </label>
    <input id="lc" name="lc" size="30" />
    <button onclick="talktoServer();">Submit</button>
    <button onclick="reset();">Reset</button>
    <div id="radio">
        <input type="radio" name="sc" id="sc1" value="50000" /><label for="sc1">50kb</label>
        <input type="radio" checked="checked" name="sc" id="sc2" value="100000" /><label for="sc2">100kb</label>
        <input type="radio" name="sc" id="sc3" value="200000" /><label for="sc3">200kb</label>
        <input type="radio" name="sc" id="sc4" value="500000" /><label for="sc4">500kb</label>
    </div>
</div>
<%-- Here is the query output for this page --%>
<br />
<div class="monotext" id="display"></div>
<%=output%>
