<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%-- CSS document adapted from web page design by James Koster - http://www.jameskoster.co.uk and heavily modified by Haibao Tang --%>
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title> Plant Genome Duplication Database </title>
<link rel="stylesheet" type="text/css" href="/duplication/css/smoothness/jquery-ui-1.8.1.custom.css" />
<link rel="stylesheet" type="text/css" href="/duplication/css/pgdd.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery","1"); google.load("jqueryui", "1");</script>
<script type="text/javascript" src="/duplication/scripts/jframe.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-141268-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>
<body>
<div id="menu"></div>
<div id="header">
 <a href="/duplication"><img src="/duplication/images/icons/PGDD.png" alt="PGDD" border="0" /></a>
 <h2>Plant Genome Duplication Database</h2>
</div>
<div id="content">
 <%-- Here is the menu for this page --%>                                
 <%=menu%>
 <div id="mainbar">
  <%-- Here is the body for this page --%>
  <%=body%>
  <br /><br />
 </div>
</div>
<div id="footer">
  <center> 
      Haibao Tang
      <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
      <a href="http://www.plantgenome.uga.edu/">Plant Genome Mapping Laboratory</a> 
      <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
      <a href="http://www.uga.edu">University of Georgia</a> 
      <div class="ui-icon ui-icon-grip-dotted-vertical"></div> 
      &copy; 2006-2010 
  </center>
</div>
</body>
</html>
